html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-end{
    margin-right: 50px;
}

.main-content {
    flex: 1 0 auto;
    margin-top: 100px;
}

.container {
    margin-top: 50px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-bottom {
    margin-top: auto;
}

.menu {
    padding: 20px;
}

.subtitle {
    color: #535d6d;
}

.bi {
    color: #C0C0C0;
}

.valeur {
    color: #535d6d;
    font-size: .75rem;
    letter-spacing: .15px;
    margin-left: .1875rem;
}

.niveau {
    color: #fff;
    font-size: .625rem;
    font-weight: 500;
    letter-spacing: .15px;
}

.initiation, .intermediaire, .expert {
    justify-content: center;
    border-radius: 10px;
    padding: .125rem .625rem;
    display: flex inline;
    align-items: flex-start;
    margin-bottom: .5625rem;
}

.modal-card-body{
    border-radius: var(--bulma-radius-large);
}

.content{
    padding: 20px;
}


